
.icon-ic_bar-bending:before { content: '\e800'; } /* '' */
.icon-ic_blocks:before { content: '\e801'; } /* '' */
.icon-ic_drilling:before { content: '\e802'; } /* '' */
.icon-ic_earthwork:before { content: '\e803'; } /* '' */
.icon-ic_fabrication:before { content: '\e804'; } /* '' */
.icon-ic_falseceiling:before { content: '\e805'; } /* '' */
.icon-ic_shuttering:before { content: '\e806'; } /* '' */
.icon-ic_tiling:before { content: '\e807'; } /* '' */
.icon-ic_carpenter:before { content: '\e808'; } /* '' */
.icon-ic_electrical:before { content: '\e809'; } /* '' */
.icon-ic_masonary:before { content: '\e80a'; } /* '' */
.icon-ic_painter:before { content: '\e80b'; } /* '' */
.icon-ic_plumber:before { content: '\e80c'; } /* '' */